<!DOCTYPE html>
<html lang="en">

<head>
    <title>Storage</title>
    <style>
        table {
            font-family: sans-serif;
            border-collapse: collapse;
        }

        td, th {
            border: 3px solid #dddddd;
            padding: 15px;
        }

        figcaption {
            font-size: medium;
        }
    </style>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>


</head>

<body>
        <h1 id="loginField">Hello</h1>

        <a href="/upload"><button>Upload image</button></a>
    
        <table id="mainTable" style="font-size:28px;margin-left:100px;width=50%">
            <caption><p style="color:green"></p></caption>
            <tfoot id="mainTableFoot"></tfoot>
        </table>
</body>
<script src="/js/core.js"></script>

</html>